<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxTemplate</title>
</head>
<body>
    <div id="J_html"></div>
    <script type="text/plain" id="J_test">
        <%for( var i = 0;i < data.length; i++){%>
            <li>
                <a href="<%=data[i].url%>">
                    <%=data[i].name%>
                </a>
            </li>
        <% } %>
    </script>
    <script src="xxTemplate.js"></script>
    <script>
        //数据
        var users = [
            { "name": "Byron", "url": "http://localhost" },
            { "name": "Casper", "url": "http://localhost" },
            { "name": "Frank", "url": "http://localhost" }
        ];
        var tpl_test = document.getElementById('J_test').innerHTML;
        var html_box = document.getElementById('J_html');
        
        //开始渲染
        var compiler = xxTPL(tpl_test);
        
        html_box.innerHTML = compiler(users);

    </script>
</body>
</html>